.DS_Store
.idea
.vscode

/vendor
/node_modules
/build

.env
.env.backup
.env.phpunit

composer.phar
package.xml

/public/build
/public/hot
/public/storage

/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*

.php-cs-fixer.cache
.phpunit.result.cache
phpstan.result.cache

_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php

.devbox
devbox.lock
