<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="./vendor/autoload.php"
         colors="true"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         cacheResult="false">
  <listeners>
    <listener class="Zitadel\Client\Spec\Setup" file="spec/Setup.php"/>
  </listeners>
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./lib</directory>
    </include>
    <exclude>
      <directory>lib/Api</directory>
      <directory>lib/Model</directory>
      <directory suffix=".php">./vendor</directory>
      <directory suffix=".php">./test</directory>
      <directory suffix=".php">./spec</directory>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="tests">
      <directory suffix=".php">./test</directory>
      <directory suffix=".php">./spec</directory>
    </testsuite>
    <testsuite name="specs">
      <directory suffix="Spec.php">./spec</directory>
    </testsuite>
  </testsuites>
  <php>
    <ini name="error_reporting" value="E_ALL &amp; ~E_DEPRECATED &amp; ~E_USER_DEPRECATED"/>
    <ini name="memory_limit" value="1024M"/>
    <env name="APP_ENV" value="test"/>
  </php>
</phpunit>
